h2 { 
text-align:center;
color:blue;
}
h1 {
	background-color:rgb(245, 55, 100);
	text-align:center;
}
a {
	text-align:center;
	width:100%;
	text-decoration:none;
}
h3{
	text-align:center;
	background-color:lightblue;
	color:blue;
}
div {
	text-align: center;
	width: 100%;
	display:inline-block
}
p{ 
	text-align:center;
	width:40%;
	margin: 10px auto;
}
body {
	background-color:rgb(0,173,255);
}